.container {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 0, 0);
    color: white;

    .logo {
        text-decoration: none;
        color: white;
        font-size: 2rem;
    }

    button {
        height: 2rem;
        padding: .5rem 1rem 0.5rem 1rem;
        background-color: white;
        border: none;
        border-radius: 399px;
        cursor: pointer;

        &:hover {
            background-color: rgba(59, 0, 0, 0.644);
            color: white;
        }

        &:active {
            scale: 0.9;
        }
    }

}