.users-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;

    .users {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        flex-wrap: wrap;
        gap: 2rem;
    }

    h1 {
        text-align: center;
    }

    .fetch {
        padding: 1rem;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;

        button {
            padding: 1rem 1rem 1rem 1rem;
            background-color: red;
            border: none;
            color: white;
            font-size: 1rem;
            border-radius: 10px;
            border: 1px solid red;
            cursor: pointer;

            &:hover {
                background-color: white;
                border: 1px solid red;
                color: red;
            }

            &:active {
                scale: 0.9;
            }
        }
    }
}

.users-card {
    width: 230px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 20px #00000031;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    div {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .name {
        padding: 1rem 0 1rem 0;
    }

    .gmail {
        padding-bottom: 1rem;
    }
}