footer {
    background-color: rgb(48, 47, 47);
    color: white;
}

.main-container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.about-container,
.about {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
}

.about {
    max-width: 700px;
    width: 100%;
}

.contact-us {
    padding-left: 4rem;
    max-width: 270px;
    width: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.349);
}

.routine {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0 1rem 0;
}

.call {
    font-size: 1.9rem;
}

.gmail {
    margin-top: 1rem;
    font-size: 1.75rem;
    border-top: 1px solid white;
}

.footer-bottom ul,
.footer-bottom {
    display: flex;
    list-style: none;
    grid-area: 1rem;
    gap: 1rem;
}


.footer-bottom {
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    font-size: .7rem;
}

.footer-bar {
    border-left: 1px solid white;
    padding-left: 1rem;
}