.hero {
    background: url('../../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--text-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
}

.hero-left {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.hero-left h1 {
    font-size: var(--heading-size);
}

.hero-left span {
    color: var(--primary-blue);
    position: relative;
}

.hero-left div {
    display: flex;
    align-items: center;
    gap: 64px;
    font-size: calc(var(--text-size) * 2);
}

.hero-left div img {
    width: 68px;
}

.hero-left .horizontal-bar::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 8px;
    background-color: red;
}