.product-cards {
    display: flex;
    align-items: center;
}

.product-details {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 2rem 0 2rem 2rem;
    gap: 2rem;
}

.product-title {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .3rem;
}

.product-title span {
    background-color: #2b078f;
    padding: 0.2rem;
    color: white;
    margin-top: 1rem;
}

.product-title a {
    color: black;
    font-weight: bold;
    color: blue;
    padding-left: 1rem;
}

.product-img {
    text-align: center;
    width: 10%;
    min-width: 4rem;
    padding: 1rem 1rem 0 1rem;
    border: 1px solid #80808083;
    border-radius: 10px;
}

.width-common {
    width: 16.6%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.product-cards span {
    cursor: pointer;
}

.product-quantity input {
    width: 2rem;
    height: 2rem;
}

.product-cards input {
    text-align: center;
}

.product-subtotal span {
    padding-left: 2vw;
}