.students-container {
    padding: 2rem;
    max-width: 600px;
    width: 100%;
}

.students-container h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
    color: rgb(4, 73, 4);
}

table {
    width: 100%;
    border: 2px solid green;
    padding: 0;
}

thead {
    color: white;
    background-color: green;
}

thead tr th:nth-child(2) {
    width: 150px;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

td {
    border: 1px solid green;
}

.details {
    padding-left: 1rem;
}

td p {
    font-size: .9rem;
}

.skills {
    display: flex;
    gap: .5rem;
}